@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/* Top-Bar */
.top-bar {
background-color: black;
}

.top-bar h3{
    margin-left: 5rem;
    padding:1rem;
    color: white;
}

/* Search bar */

.search{
    margin-left: 6rem;
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}

.btn1{
    padding: .5rem;
}

.search .search-bar input{
    padding: .5rem;
    width: 1050px;
}

table {
    margin-left: 6rem;
    width: 85%;            
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  /* Odd rows - white */
  tr:nth-child(odd) {
    background-color: white;
  }

  /* Even rows - light gray */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }









.button1 {
    margin-right: 5px;
    padding: 5px 10px;
    color: rgb(239, 11, 11);
    border-color: red;          
    text-align: center;
    cursor: pointer;
  }
.button2 {
    margin-right: 5px;
    padding: 5px 10px;
    color: rgb(239, 11, 11);
    border-color: red;          
    text-align: center;
    cursor: pointer;
  }
.button3 {
    margin-left: flex;
    margin-right: 5px;
    padding: 5px 10px;
    color: rgb(239, 11, 11);
    border-color: red;          
    text-align: center;
    cursor: pointer;
  }