@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/* Top-Bar */
.top-bar {
    background-color: black;
}

.top-bar h3{
    margin-left: 5rem;
    padding:1rem;
    color: white;
}

/* Search bar */
.search{
    margin-left: 6rem;
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}

.btn1{
    background: #233ab1;
    color: white;
    padding: 9px 18px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.btn2{
    background: #388E3C;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.search .search-bar input{
    padding: .5rem;
    width: 950px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    outline: none;
}

.search-bar input{
    margin-left: 0rem;
    padding: .5rem;
    width: 1000px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    outline: none;
}

.add-title .search-bar input {
    margin-left: 10rem;
    padding: .5rem;
    width: 1000px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    outline: none;
}

.add-title h2{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.add-title h4{
    margin-left: 10rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}


table {
    margin-left: 6rem;
    width: 85%;
    border-collapse: collapse;       
}

th, td {
    padding: 8px;
    text-align: left;
}
  
/* Odd rows - white */
tr:nth-child(odd) {
    background-color: white;
}

/* Even rows - light gray */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:nth-child(4) {
    text-align: center;
}

.button1 {
    padding: 5px 10px;
    color: blue;
    border-color: blue;          
    text-align: center;
    border-radius: 5px; 
    cursor: pointer;
  }

.button2 {
    margin-right: 5px;
    padding: 5px 10px;
    color: green;
    border-color: green;          
    text-align: center;
    border-radius: 5px; 
    cursor: pointer;
  }

.button3 {
    margin-left: flex;
    margin-right: 5px;
    padding: 5px 10px;
    color: red;
    border-color: red;          
    text-align: center;
    border-radius: 5px; 
    cursor: pointer;
}

.pagination {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
}
  
.pagination a {
    color: black;
    float: none;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

.pagination a.active {
    background-color: #3714f9;
    color: white;
    border: 1px solid #3714f9;
}

.btn3{
    margin-top: 1rem;
    margin-left: 10rem;
    background: #233ab1;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.btn4{
    background: #f40303;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

/* detail page */

    .button-group {
      margin: 50px 40px 30px 50px;
    }

    .button-group button {
      padding: 7px 14px;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
      font-size: 14px;
    }

    .back-btn {
      background-color: white;
      color: #007bff;
      border: 2px solid #007bff;
    }

    .edit-btn {
      background-color: #f7f5f5;
      color: red;
      border: 2px solid red
    }

    .info-table {
      width: 75%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-left: 10rem;
    }

    .info-table td {
      padding: 8px;
      border-bottom: 1px solid #f0f0f0;
    }

